.markdown {
  blockquote.shortcode {
    overflow: auto;
    white-space: nowrap;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
    padding-top: 1em;
  }
}

figure.audio-player audio {
  width: 100%;
}

figure.image {
  border: $padding-1 solid var(--gray-200);
  border-radius: $border-radius;
  overflow: hidden;
  img[data-thumbnail] {
    background-repeat: no-repeat;
    background-size: 100%;
  }
  figcaption {
    text-align: center;
  }
}

.grid-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
  grid-gap: 0.3em;
}
