.markdown {
  blockquote.shortcode {
    overflow: auto;
    white-space: nowrap;
    font-family: ui-monospace, "Fira Mono", "DejaVu Sans Mono", Menlo, Consolas,
      "Liberation Mono", Monaco, "Lucida Console", monospace;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
    padding-top: $padding-16;
  }
  details {
    margin-top: $padding-16;
  }
}

figure.audio-player audio {
  width: 100%;
}

figure.image {
  border: $padding-1 solid var(--gray-200);
  border-radius: $border-radius;
  img[data-thumbnail] {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  figcaption {
    text-align: center;
  }
}

.grid-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
}
